nav{background-color: rgb(192, 190, 190);text-align: right; height: 30px; padding-top: 10px; padding-right: 10px;}
footer{background-color: rgb(192, 190, 190); text-align: center;}
p{padding-left: 200px; padding-right: 200px; padding-left: 200px;font-family: 'EB Garamond', serif;}
.Foto1{padding-left: 250px;}
.Foto2{padding-left: 200px;}